/*
  Based on
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* COLORS, SPACING, TYPOGRAPHY*/
:root {
  --cyan-600: #4d96a9;
  --cyan-300: #8fe3f9;
  --purple-600: #855fb1;
  --purple-300: #d9b8ff;
  --slate-900: #28283d;
  --slate-600: #87879d;
  --slate-300: #d1d1df;
  --white: #fafafa;

  --spacing-1400: 7rem;
  --spacing-1000: 5rem;
  --spacing-900: 4.5rem;
  --spacing-800: 4rem;
  --spacing-700: 3.5rem;
  --spacing-600: 3rem;
  --spacing-500: 2.5rem;
  --spacing-400: 2rem;
  --spacing-300: 1.5rem;
  --spacing-200: 1rem;
  --spacing-100: 0.5rem;
  --spacing-50: 0.25rem;
}

@font-face {
  font-family: "Red Hat Display";
  font-weight: 500; /* medium */
  font-display: swap;
  src: url(./assets/fonts/RedHatDisplay-Medium-subset.woff2) format(woff2);
}

@font-face {
  font-family: "Red Hat Display";
  font-weight: 900; /* black */
  font-display: swap;
  src: url(./assets/fonts/RedHatDisplay-Black-subset.woff2);
}

/* GENERAl STYLES AND LAYOUT */
body {
  display: flex;
  flex-direction: column;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 1rem; /* changes to 18px for desktop */
  line-height: 1.1;
  -webkit-font-smoothing: antialiased; /* from CSS Reset, here to consolidate duplicate selectors */
  color: var(--slate-600);
  background-color: var(--white);
  min-height: 100dvh;
}

main {
  flex-grow: 1;
}

/* COMPONENTS */
.logo {
  height: 1.75rem;
}

/* HEADER */
.header__logo {
  margin: var(--spacing-600) auto 0;
}
